export(
	"nxprnSet",
    	"nXprnSet",
    	"nxprnSetPair",
	"stat",
	"d.absTd",
	"p.absTd",
	"q.absTd",
	"mylocfdr",
	"myalpha",
	"myzsim",
        "new.est.lfdr.pvalue",
        "uniquex",
        "list2est",
        "est2list",
        "get.args",
        "data2statANDpvalue",
        "stat.toANDfrom.pvalue",
        "get.other.from.testfun",
        "get.pvalues",
        "get.stats",
        "stat2pval",
        "pval2stat",
        "MakeNames",
        "is.error",
        "assert.is",
        "assert.are",
        "is.err",        
        "estimated.LFDR",
        "estimated.BFDR",
        "posteriorP0",
        "BFDR",
        "xprnSet",
    	"XprnSet",
    	"xprnSetPair",
        "is.prob",
        "nplot"
)
exportMethods(
 	"[",
    "[<-",
    "annotation",
    "annotation<-",
    "colnames",
    "colnames<-",
    "dim",
    "dimnames",
    "exp",
    "exprs",
    "fData",
    "fData<-",
    "featureNames",
    "length",
    "log",
    "log2",
    "logb",
    "names",
    "names<-",
    "nrow",
    "ncol",
    "pData",
    "pData<-",
    "rownames",
    "is.prob",
    "nplot",
    "xprnSet",
    "XprnSet",
    "xprnSetPair"
)
exportClasses(
     "xprnSet",
     "XprnSet",
     "xprnSetPair"
)
import(
	Biobase,
	multtest,
	distr,
	fBasics,
	methods
)